/*---------------------- home.css ----------------------*/

/*-- IMPORT --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*-- HOME DIV --*/

#div-home{
    position: absolute;
    top: 7%;
    left: 0%;
    width: 100%;
    height: 63%;
    background-color: blueviolet;
}

#title-home-fift{
    position: absolute;
    left: 38%;
    top: 20%;
    font-size: 350%;
    font-weight: 1000;
    font-family: 'Orbitron', sans-serif;
}

#subtitle-quote{
    position: absolute;
    left: 45.5%;
    top: 40%;
    align-items: center;
    font-size: medium;
}

#btn-invite{
    position: absolute;
}

#btn-manage{
    position: absolute;
}


/*-- FEATURES SECTION --*/

#sec-features{
    position: absolute;
    top: 70%;
    left: 0%;
    background-color:darkmagenta;
    height: 100%;
    width: 100%;
}

