/*---------------------- home.css ----------------------*/

/*-- IMPORT --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Orbitron&family=Roboto:wght@300&display=swap');

/*-- HOME DIV --*/

#div-home{
    position: absolute;
    top: 7%;
    left: 0%;
    width: 100%;
    height: 63%;
    background-color:  #8b76b4;
}

#title-home-fift{
    position: absolute;
    left: 38%;
    top: 20%;
    font-size: 350%;
    font-weight: 1000;
    font-family: 'Orbitron', sans-serif;
}

#subtitle-quote{
    position: absolute;
    left: 45.5%;
    top: 40%;
    align-items: center;
    font-size: medium;
}

#img-cmptr-discord{
    position: relative;
    left: 5%;
}

#img-cmprt-bot{
    position: relative;
    left: 80%;
}

#btn-invite{
    position: absolute;
    left: 38%;
    top: 55%;
    width: 12%;
    height: 10%;
}

#btn-manage{
    position: absolute;
    left: 53.5%;
    top: 55%;
    width: 12%;
    height: 10%;
}


/*-- FEATURES SECTION --*/

#sec-features{
    position: absolute;
    top: 70%;
    left: 0%;
    background-color:#7f63a5;
    height: 100%;
    width: 100%;
}

#title-features{
    position: absolute;
    left: 50%;
    font-size: xx-large;
    font-weight: 1000;
    font-family: 'Lato', sans-serif;
}

#div-custo{
    position: relative;
    left: 20%;
    width: 50%;
}

/*-- STATS SECTION --*/

