/*---------------------- style.css ----------------------*/

/*-- IMPORT --*/

@import url("../css/home.css");

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background-color:thistle;
    font-family: 'Roboto', sans-serif;
}

/*-- HEADER --*/

header{
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgb(131, 13, 114);
    height: 8%;
    width: 100%;
}

#img-fift{
    position: relative;
    top: 10%;
    left: 1%;
    height: 80%;
    width: 80;
    border-radius: 100%;
}

#title_fift{
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
}


/*-- TITLE --*/

/*-- title-purple --*/

.title-purple{
    color: purple;
}


/*-- SCROLLBAR --*/


/* ::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: #555;
}
::-webkit-scrollbar {
    width: 8px;
    background: rgba(0, 0, 0, 0.886);
} */

/*-- LINK --*/

a{
    text-decoration: none;
    color: none;
}

/*-- FOOTER --*/

footer{

}